.header {
    font-weight: bold;
    color: black;
}

.sub-header {
    font-weight: 200;
    font-style: italic;
    color: black;
}

.close{
    width: 20px;
    font-size: 25px;
}


.bar-height {
    height: 150px;
}

p-autocomplete {
    width: 100% !important;

    div:first-of-type {
        width: 100% !important;

        input:first-of-type {
            width: 100% !important;
        }
    }

    div > p-overlay > div > div > div{
        max-height: 380px !important;
    }
    div > p-overlay > div > div > span {
        visibility: hidden !important;
      }
}

mat-icon{
    overflow: visible !important;
}
