<div class="flex layout-column layout-align-space-around-center bar-height">
    <div class="flex layout-row layout-align-space-between-center" style="width: 100%;">
        <p-autoComplete class="flex layout-row layout-align-space-between-center" 
        placeholder="Search for a Dance, Song, Choreographer..." 
        field="dance_name"  
        [(ngModel)]="selectedItem" 
        [suggestions]="suggestions" 
        (completeMethod)="search($event)" 
        (onSelect)="onDanceSelected($event)"
        >
            <ng-template let-dance pTemplate="item" class="flex-10">
                <mat-card class="flex">
                    <mat-card-title class=" flex layout-column">
                        <div class=" flex layout-column">
                            <span class="header flex layout-row layout-align-start-end">
                                {{ dance.dance_name }}
                            </span>
                            <span class="sub-header flex layuout-row layout-align-start-end">
                                <mat-icon>assignment_ind</mat-icon>
                            {{ dance.choreographer }}
                            </span>
                            <span class="sub-header flex layuout-row layout-align-start-end">
                                <mat-icon>audiotrack</mat-icon>
                                {{ dance.music }}
                            </span>
                        </div>
                    </mat-card-title>
                </mat-card>
            </ng-template>
        </p-autoComplete>
        <mat-icon class="pointer close" (click)="clear()">close</mat-icon>
    </div>
    
</div>