.header {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.sub-header {
    font-weight: 200;
    font-style: italic;
    color: black;
}

.close {
    width: 20px;
    font-size: 25px;
}


.bar-height {
    height: 150px;
}

.search-width {
    width: 100%;
}

p-autoComplete {
    width: 100% !important;

    div:first-of-type {
        width: 100% !important;

        input:first-of-type {
            width: 100% !important;
        }

       
    }

    p-autocomplete > div > p-overlay{
        width: 100% !important;
    }

    div>p-overlay>div>div>span {
        visibility: hidden !important;
    }
}


mat-icon {
    overflow: visible !important;
}