.header {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.sub-header {
    font-weight: 200;
    font-style: italic;
    color: black;
}

.close {
    width: 30px;
    font-size: 30px;
    margin-top: 5px;
}


.bar-height {
    height: 100px;
}

.search-width {
    width: 100%;
}

p-autoComplete {
    width: 100% !important;

    div:first-of-type {
        width: 100% !important;

        input:first-of-type {
            width: 100% !important;
        }
    }
    p-overlay > div > div > div{
        max-height: 300px !important;
    }

    p-overlay>div>div>span {
        visibility: hidden !important;
    }
}


mat-icon {
    overflow: visible !important;
}