.card{
    padding: 1.25em;
    padding-top: 0.8em;
    /* height: 60vh; */
    .title{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    .subtitle{
        font-weight: 400;
        margin-bottom: 0.5rem;
        color: #6b7280;

        .icons{
            margin-bottom: 15px;
        }
        .labels{
            color: black;
            font-weight: bold;
        }
    }
    .steps{
        white-space: pre-line;
    }

}

.video{
    color: red;
    overflow: visible;
    font-size: 35px;
    width: fit-content;
    height: fit-content;
    padding-left: 20px;
}

.badges{
    overflow: visible;
    margin-right: 10px;
}

