<div class="flex layout-column layout-align-space-around-stretch">
    <mat-card *ngIf="this.selectedDance != null" appearance="outlined" class="card">
        <mat-card-title class="title">
            <div class="flex layout-row layout-align-start-center">
                <span>
                    {{this.selectedDance?.dance_name}}
                </span>
                <mat-icon (click)="this.goToVideo(this.selectedDance)" class="video pointer">smart_display</mat-icon>
            </div>
        </mat-card-title>
        <mat-card-subtitle class="subtitle ">
            <div id="Icons" class="flex layout-column icons">
                <span class="flex layout-row layout-align-start-center">
                    <mat-icon class="badges">
                        assignment_ind
                    </mat-icon>
                    {{this.selectedDance?.choreographer}}
                </span>
                <span class="flex layout-row layout-align-start-center">
                    <mat-icon class="badges">
                        audiotrack
                    </mat-icon>
                    {{this.selectedDance?.music}}
                </span>
            </div>
            
            <span class="flex layout-row layout-align-start-center">
                <span class="labels">Count:</span>
                <span class="label-buffer-left">{{this.selectedDance?.dance_count}}</span>
            </span>
            <span class="flex layout-row layout-align-start-center">
                <span class="labels">Wall:</span>
                <span class="label-buffer-left">{{this.selectedDance?.dance_walls}}</span>
            </span>
            <span class="flex layout-row layout-align-start-center">
                <span class="labels">Difficulty:</span>
                <span class="label-buffer-left">{{this.selectedDance?.level.toUpperCase()}}</span>
            </span>
            <!-- <span class="flex layout-row layout-align-start-center">
                <mat-icon>
                    audiotrack
                </mat-icon>
                {{this.selectedDance?._id}}
            </span>
            <span class="flex layout-row layout-align-start-center">
                <mat-icon>
                    audiotrack
                </mat-icon>
                {{this.selectedDance?.DanceID}}
            </span> -->
        </mat-card-subtitle>
        <mat-card-content>
            <p-scrollPanel [style]="{ width: '100%', height: 'auto' }">
                <p class="steps">
                    {{ this.danceSteps}}
                </p>
            </p-scrollPanel>
        </mat-card-content>
    </mat-card>
    
    <!-- <pre>
        {{this.selectedDance | json}}
    </pre> -->
</div>

