
.header-bar {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  
.header-color{
    background-color: orange;
    color: black;
    font-weight: bold;
}

.fake-background{
    position: absolute;
    background-color: orange;
    height: 115px !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: -1;
}

.logo{
    height: 100px;
    width: 100px;
    cursor: pointer;
}