@import './shared/flex-custom.css';
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";

.pointer{
    cursor: pointer;
}

body{
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}